<!DOCTYPE html>
<html lang="en">
<head>
    <% include common/head %>
</head>
<body>
    <% include common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <div class='row'>
            <div class='col-md-12'>
                <h3>MySQL Injections Tests</h3>
                <button type="button" class="btn btn-primary" id="runSQLTest">Run Tests</button>
                <div id="automated_results_sql"></div>

                <h3>XSS Injections Tests</h3>
                <button type="button" class="btn btn-primary" id="runXSSTest">Run Tests</button>
                <div id="automated_results_xss"></div>

                <h3>LFI Tests</h3>
                <button type="button" class="btn btn-primary" id="runLFITest">Run Tests</button>
                <div id="automated_results_lfi"></div>
            </div>
        </div>

    </div></div></div>
    <% include common/footer %>
</body>
</html>
